*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

.container{
	width: 100%;
	max-width: 1100px;
	margin: 0;
}

.parallax {
  background-image: url("img/img2.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: green;
  color: white;
}

.instagram {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


.top-b {
	display: grid;
	grid-template-columns: 25% 30% 30% 15%;
	background: #5987c4b5;
	padding-left: 18px;
	/*padding-right: 3px;*/
}

.top-email {
	padding-left: 5px;
	padding-right: 5px;
}

.top-email ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap:7px;
}

.top-email h3 {
	font-size: 15px;
	color: white;
}

.top-num ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap:7px;
}

.top-num h3{
	font-size: 15px;
	color: white;
}

.top-time ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-column-gap:5px;
}

.top-time h3{
	font-size: 15px;
	color: white;
}

.top-icon{
	padding-top: 18px;
}

.top-icon ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-column-gap:24px;
}

.menu {
	display: none;
}

.top{
	display: grid;
	grid-template-columns: 10% 90%;
	background: #5174a4b0;
}

.logo img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.nav{
	display: grid;
	grid-template-columns: 17% 83%; 
	justify-content: space-between;
	background: #5987c4b5;
	padding-top: 10px;
	font-size: 21px;
	padding-bottom: 5px;
}

.nav-bar{
	/*margin:5px;*/
	color: white;
}

.nav-bar ul li{
	padding-top: 10px;
	padding-left: 10px;
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 15px;
	font-size: 15px;
}

.nav-bar ul li a{
	text-decoration: none;
	color: white;
	font-size: 1.08em;
	font-weight: bold;
}

.intro {
	display: inline-grid;
	grid-template-columns: 48% 48%;
	padding: 75px;
	grid-column-gap: 50px;
	min-height: 400px;
	margin-bottom: 25px;
	background-color: #89a9d55e;
}

.intro-message p{
	text-align: justify;
}


.intro-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	
}

.events-desc h2{
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}

.events-desc p {
	text-align: justify;
}

.events{
	margin-top: 30px;
	margin-bottom: 25px;
}

.events-box {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 15px;
}

.events-info{
	width: 100%;
  	height: 490px;
  	margin-top:20px;
  	margin-left: 50px;
  	padding-left: 10px;
  	padding-right: 10px;
 	border: 1px solid gray;
  	box-sizing: border-box;
}

.events-img {
	padding-top: 10px;
}

.events-img img{
	width: 100%;
	object-fit: contain;
}

.our-services {
	padding: 3px 40px 40px 40px;
	margin: 25px 40px 40px 40px;
}


.services{
	padding-top: 25px;
	padding-bottom: 25px;
	display: grid;
	grid-template-columns: repeat(4,255px);
	grid-gap: 30px;
}

.service-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0px 14px 14px 0px;
	display: block;
}

.service-box {
	border: 1px solid grey;
	box-shadow: 2px 2px 2px 2px grey;
	text-align: justify;
	position: relative;
	border-radius: 0px 14px 14px 0px;
	height: 320px;
	width: 255px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 0px 14px 14px 0px;
}

.box:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.footer{
	padding-top:15px;
	padding-left:80px;
	padding-bottom:15px;
	display: grid;
	grid-template-columns: 30% 32% 32%;
	grid-column-gap: 30px;
	background: #5987c4b5;
}

.footer-map{
	width: 350px;
}

.form-field{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	padding-top: 5px;
}

.blogs{
	padding-top: 15px;
}

.blogs h1{
	text-align: center;
}

.blog-grid{
	display: grid;
	grid-template-columns: 48% 48%;
	grid-column-gap: 15px;
	padding-left: 75px;
	padding-top: 10px;
}

.blog-section{
	padding-top: 15px;
	padding-bottom: 15px;
}

.blog-section img{
	width: 100%;
	object-fit: contain;
}

.footer-info ul{
	list-style: none;
}

.footer-map iframe{
	border:0;
	padding-top:5px;
	width: 350px;
}

@media only screen and (max-width: 768px){

.container {
	margin: 5px 0 0 0;
}

.logo {
	display:none;
}

.nav-bar {
	display: none;
}

.top-b {
	display: none;
}

.intro{
	display: grid;
	grid-template-columns: auto;
}

.intro-img{
	border: 1px solid gray;
  	box-sizing: border-box;
  	height: 570px;
}

.intro img{
	width: 100%;
	object-fit: contain;
}

.events-box {
	display: grid;
	grid-template-columns: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.events-info{
	max-width: 100%;
  	margin-top: 20px;
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
 	border: 1px solid gray;
  	box-sizing: border-box;
  	height: 570px;
}

.events-desc h2{
	padding-left: 55px;
}

.events-desc p {
	text-align: justify;
	padding-left: 55px;
	padding-right: 10px;
}

.services {
	display: grid;
	grid-template-columns: auto;
}

.service-box{
	width: 100%;
	margin: 2px;
	text-align: center;
}

.text{
	text-align: center;
	padding: 20px;
}

.menu {
    width: 100%;
    height: auto;
}

.menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px 0px 10px 5%;
}

.menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
}

#menuToggle:checked ~ ul {
    max-height: 350px;
}

.menu-icon i {
    font-size: 1.7em;
}

.form-field{
	padding-bottom: 10px;
}

.footer-map{
	width: 340px;
}

.footer-map iframe{
	border:0;
	padding-top:5px;
	width: 340px;
}


.footer{
	display: grid;
	grid-template-columns: auto;
	padding-left: 54px;
	/*padding-right: 0px;*/
}

.footer-info{
	padding-top: 10px;
}

.footer-info li{
	font-size: 18px;
}


}


@media only screen and (min-width:481px) and (max-width: 812px) {
	.services {
		display: grid;
		grid-template-columns: auto auto;
	}

	.events-info {
		height: 540px;
	}

	.events-img img{
		width: 100%;
		object-fit: contain;
	}

	.footer {
		display: grid;
		grid-template-columns: auto auto;
		grid-column-gap: 15px;
	}
}


