*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gentium Basic', serif;
}

.container{
	width: 100%;
	max-width: 1100px;
	margin: 0;
}

.top-n-section{
	display: grid;
	grid-template-columns: 28% 26% 23% 16%;
	grid-column-gap: 28px;
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	background: #2869ae;
}

.top-logo{
	display: flex;
	padding-right: 15px;
}

.top-logo h3{
	padding-left: 15px;
	margin-top: 0px;
	padding-top: 14px;
	font-size: 14px;
	line-height: 1.7em;
	font-weight: bold;
	color: white;
}

.top-logo img{
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.top-first{
	padding-left: 5px;
	padding-right: 5px;
}

.top-first ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap:7px;
}

.top-first h3 {
	font-size: 15px;
	color: white;
	font-weight: bold;
}

.nav-bar .icon {
	display: none;
}

.parallax {
  background-image: url("img/img2.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: white;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: green;
  color: white;
}

.instagram {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.top-icon{
	padding-top: 18px;
}

.fa:hover{
	opacity: 0.3;
}

.top-icon ul li{
	list-style: none;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-column-gap:22px;
}

.menu {
	display: none;
}

.logo img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	/*position: relative;*/
}

.nav{
	display: grid;
	grid-template-columns: 17% 83%; 
	justify-content: space-between;
	background: #5987c4b5;
	padding-top: 10px;
	font-size: 21px;
	padding-bottom: 5px;
}

.nav-bar ul{
	padding-left:34px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.nav-bar ul li{
	padding-top: 3px;
	padding-left: 10px;
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-column-gap: 9px;
	font-size: 15px;
}

.nav-bar ul li a{
	text-decoration: none;
	color: #5987c4;
	font-size: 1.4em;
	font-weight: bold;
}

.nav-bar ul li .donate{
	color: white;
	border: 2px solid #5987c4;
  	border-radius: 15px 15px 15px 15px;
  	margin-top: 4px;
	margin-bottom: -2px;
	background: #5987c4;
	box-sizing: border-box;
  	width: 120px;
}

.nav-bar ul li .donate:hover{
	background: white;
	color: #5987c4; 
}

.nav-bar ul li:hover a{
	/*background-color: #5987c4;*/
	color: white;
}

.nav-bar:hover {
	background-color: #89a9d55e;
	height: 49px;
}

.intro {
	/*background-image: url('img/youth.webp');*/
	display: inline-grid;
	grid-template-columns: 48% 48%;
	padding: 75px;
	grid-column-gap: 50px;
	min-height: 400px;
	/*background-color: #89a9d55e;*/
	background-color: white;
}

.intro-message h1{
	text-align: center;
	/*background: #00000080;*/
	padding: 10px;
	color: #2869ae;
}

.intro-message p{
	text-align: justify;
	color: black;
	padding: 20px;
	/*background: #0000008f;*/
}


.intro-img img{
	border: 2px solid #5987c4b5;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	
}

.events-desc h2{
	text-align: center;
	padding-bottom: 10px;
	font-weight: bold;
	padding-top: 10px;
	color: #5987c4;
	font-family: 'Cardo', serif;
}

.events-desc p {
	text-align: justify;
	color: black;
	/*font-weight: bold;*/
	font-size: 16px;
	font-family: 'Cardo', serif;
}

.events{
	padding-top: 25px;
	margin-top: 4px;
	margin-bottom: 25px;
	background: #487ba8;
	padding-bottom: 45px;
}

.events-box {
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-column-gap: 65px;
}

.events-info{
	width: 100%;
  	height: 490px;
  	margin-top:20px;
  	margin-left: 50px;
  	padding-left: 10px;
  	padding-right: 10px;
 	border: 1px solid gray;
  	box-sizing: border-box;
  	background: white;
}

.events-img {
	padding-top: 10px;
}

.events-img img{
	width: 100%;
	object-fit: contain;
}

.our-services {
	padding: 3px 40px 40px 40px;
	margin: 0px 40px 40px 40px;
}


.services{
	padding-top: 25px;
	padding-bottom: 25px;
	display: grid;
	grid-template-columns: repeat(4,255px);
	grid-gap: 30px;
}

.service-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0px 14px 14px 0px;
	display: block;
}

.service-box {
	border: 1px solid grey;
	box-shadow: 2px 2px 2px 2px grey;
	text-align: justify;
	position: relative;
	border-radius: 0px 14px 14px 0px;
	height: 320px;
	width: 255px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 0px 14px 14px 0px;
}

.service-box:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.programs{
	padding-top: 15px;
	display: grid;
	grid-template-columns: 70% 25%;
	grid-column-gap: 10px;
}

.programs h1{
	text-align: center;
}

.program-grid{
	display: grid;
	/*grid-template-columns: 70% 25%;
	grid-column-gap: 15px;*/
	padding-left: 75px;
	padding-top: 10px;
}

.program-section{
	padding-top: 15px;
	padding-bottom: 15px;
}

.program-img {
	box-sizing: border-box;
	border: 2px solid gray;
	height: 400px;
	width: 320px;
}

.program-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.program-img h3{
	font-size: 13px;
}

.program-left {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 10px;
}

.gallery-title h1{
	text-align: center;
	padding-top: 10px;
}

.gallery-view{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 80px;
	display: grid;
	grid-template-columns: repeat(3,340px);
	grid-gap: 50px;
}

.gallery-object img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-object {
	border: 1px solid grey;
	box-shadow: 2px 2px 2px 2px grey;
	height: 340px;
	width: 340px;
	transition: transform .2s;
}

.gallery-object:hover {
  transform: scale(1.25); 
}

.footer{
	padding-top:15px;
	padding-left:80px;
	padding-bottom:15px;
	display: grid;
	grid-template-columns: 30% 31% 32%;
	grid-column-gap: 30px;
	background: #5987c4b5;
}

.footer-map{
	width: 350px;
}

.form-field{
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 5px;
	padding-top: 5px;
}

.form-field input {
	border-radius: 7px;
	padding: 5px;
	border: 1px solid #5987c4b5;
}

.form-field textarea {
	padding: 5px;
	border-radius: 7px;
}

.footer-info ul{
	list-style: none;
	margin-top: -2px;
}

.footer-info ul li h3{
	font-size: 25px;
}

.footer-map iframe{
	border:0;
	padding-top:5px;
	width: 350px;
}

.program-card{
	position: absolute;
	height: 370px;
	width: 100%;
	margin: auto;
	border-radius: 25px;
	box-shadow: 0 10px 50px rgba(252,56,56,0.3);
}

.program-card .inner-part{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px 0px 60px;
	height: 360px;
	position: absolute;
}

.inner-part .img{
	height: 260px;
	width: 260px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 20px;
	box-shadow: 2px 3px 15px rgba(103, 141, 186,0.3);
} 

#tapImg:checked ~ .inner-part .img,
{
	height: 370px;
	width: 850px;
	z-index: 99;
	margin-top: 10px;
	transition: .3s .2s ease-in;
}

.img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	opacity: 0;
	transition: .6s;
}

#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
	opacity: 1;
	transition-delay: .2s;
}

.content{
	padding: 0px 20px 0 35px;
	width: 530px;
	margin-left: 50px;
	opacity: 0;
	transition: .6s;
}


#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
	opacity: 1;
	margin-left: 0px;
	z-index: 100;
	transition-delay: .3s;
}

.content span{
	display: block;
	color: gray;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
}

.content .title{
	font-size: 30px;
	font-weight: 700;
	color: blue;
	margin-bottom: 20px;
}

.content .b-text{
	font-size: 19px;
	color: green;
	/*line-height: 1.5em;*/
	text-align: justify;
	margin-bottom: 30px;
}

.sliders{
	position: absolute;
	bottom: 25px;
	left: 65%;
	z-index: 100;
	transform: translateX(-50%);
}

.sliders .tap{
	position: relative;
	height: 10px;
	width: 50px;
	background: #80808085;
	border-radius: 5px;
	display: inline-flex;
	margin: 0 3px;
	cursor: pointer;
}

.sliders .tap:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: -100%;
	background:  #5987c4;
	border-radius: 10px;
	transform: scaleX(0);
	transition: transform .6s;
	transform-origin: left;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
	transform: scaleX(1);
	width: 100%;
}

/*input{
	display: none;
}*/

@media only screen and (max-width: 768px){

.container {
	margin: 5px 0 0 0;
}

.top-nav {
	display: none;
}

.nav-bar{
	display: none;
}
.menu {
    width: 100%;
    height: auto;
}

.menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #5987c4;
    padding: 10px 0px 10px 5%;
}

.menu-icon {
    width: 100px;
    /*height: inherit;*/
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
}

#menuToggle:checked ~ ul {
    max-height: 350px;
    background: #5987c4;
    /*text-align: center;*/
    padding-left: 30px;
    list-style: none;
}

.menu-icon i {
    font-size: 1.7em;
}

.parallax {
  background-image: url("img/img2.jpg");
  min-height: 555px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: -10px;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.content div{
  font-size: 40px;
  font-weight: 700;
}

.intro{
	display: grid;
	grid-template-columns: auto;
	padding-left: 55px;
	width: 100%;
	padding-right: 10px;
}

.intro-img{
  	box-sizing: border-box;
  	height: 370px;
}

.intro-img img{
	width: 100%;
	object-fit: cover;
}

.events h2{
	padding-left: 40px;
}

.events-box {
	display: grid;
	grid-template-columns: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.events-info{
	max-width: 100%;
  	margin-top: 20px;
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
 	border: 1px solid gray;
  	box-sizing: border-box;
  	height: 570px;
}

.events-desc h2{
	padding-left: 55px;
}

.events-desc p {
	text-align: justify;
	padding-left: 55px;
	padding-right: 10px;
}

.services {
	display: grid;
	grid-template-columns: auto;
}

.service-box{
	width: 100%;
	margin: 2px;
	text-align: center;
}

.text{
	text-align: center;
	padding: 20px;
}


.program-grid{
	display: grid;
	grid-template-columns: auto;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.gallery-title h1{
	text-align: center;
	padding-top: 10px;
}

.gallery-view{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 60px;
	display: grid;
	grid-template-columns: repeat(1,300px);
	grid-gap: 50px;
}

.gallery-object img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-object {
	border: 1px solid grey;
	box-shadow: 2px 2px 2px 2px grey;
	height: 340px;
	width: 300px;
	transition: transform .2s;
}

.gallery-object:hover {
  transform: scale(1.10); 
}

.form-field{
	padding-bottom: 10px;
	padding-right: 50px;
}

.footer-map{
	width: 340px;
}

.footer-map iframe{
	border:0;
	padding-top:5px;
	width: 340px;
}


.footer{
	display: grid;
	grid-template-columns: auto;
	padding-left: 54px;
}

.footer-info{
	padding-top: 10px;
}

.footer-info li{
	font-size: 18px;
}

.carousel-inner {
  background: url('img/img14.jpg') bottom center no-repeat;
  /*min-height: 490px;*/
  height: 100%;
  /*margin-bottom: 60px;*/
}

.carousel-caption {
  position: initial;
}

.carousel-control.left, .carousel-control.right {
  background: transparent;
}

.item h3,
.item p {
  color: #fff;
}

.item h3 {
  margin-top: 150px;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.item p {
  font-size: 25px;
  text-align: center;
}

.img-center {
  margin: 0 auto;
}

.btn {
  border-radius: 25px;
  font-weight: bold;
  letter-spacing: .25rem;
}
}

@media only screen and (min-width:480px) and (max-width: 812px) {
	
	.services {
		display: grid;
		grid-template-columns: auto auto;
	}

	.nav-bar {
		display: none;
	}

	/*events-box{
		display: grid;
		grid-template-columns: auto;
	}*/

	.menu {
    width: 100%;
    height: auto;
}

.menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px 0px 10px 5%;
}

.menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
}

#menuToggle:checked ~ ul {
    max-height: 350px;
}

.menu-icon i {
    font-size: 1.7em;
}

	.events-info {
		height: 540px;
	}

	.events-img img{
		width: 100%;
		object-fit: contain;
	}

	/*.services{
		display: grid;
		grid-template-columns: auto;
	}*/

	.footer {
		display: grid;
		grid-template-columns: auto auto;
		grid-column-gap: 15px;
	}
}

